const SLACK_WEB_HOOK = ''; // insert webhook from slack
const SLACK_ERROR_CHANNEL = '#example-errors';  // choose slack channel for errors to post to, or null
const SLACK_INFO_CHANNEL = '#example-tests'; // choose slack channel for info to post to, or null

const winstonSlackWebHook = require('winston-slack-webhook').SlackWebHook;

module.exports = (winston) => {
  // add a transport for errors
  if (SLACK_ERROR_CHANNEL) {
    winston.add(winstonSlackWebHook, {
      name      : 'slack-errors-transport',
      level     : 'error',
      webhookUrl: SLACK_WEB_HOOK,
      channel   : SLACK_ERROR_CHANNEL,
      username  : 'speech_sync',
      iconEmoji : ':face_with_head_bandage:',
    });
  }
  if (SLACK_INFO_CHANNEL) {
    winston.add(winstonSlackWebHook, {
      name      : 'slack-info-transport',
      level     : 'info',
      webhookUrl: SLACK_WEB_HOOK,
      channel   : SLACK_INFO_CHANNEL,
      username  : 'speech_sync',
      iconEmoji : ':nerd_face:',
    });
  }
  // send test message
  winston.error('Testing slack error logging... slack logging is online.');
  winston.info('Testing slack info logging... slack logging is online.');
};
